* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.quiz-box {
  width: 80vw;
  min-height: 65vh;
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
}
.title {
  padding: 1rem;
}
.question {
  text-align: center;
  padding: 1rem;
}
.answer-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.value {
  margin: 5px;
  font-size: x-large;
}
.code {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
.button {
  border: 1px solid #1211e775;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 1rem;
  background-color: #27b2ff;
  text-align: center;
  color: white;
  font-family: roboto;
}
.result-box {
  height: 60%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
